/* Organizations.css 
.organizations-container {
    padding: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

*/

.organizations-background1 {
    background-image: url("./ParkingSpots-1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0;
    height: 100vh;
    width: 100vw;

}

.organizations-container1 {
    height: calc(100vh - 60px);
    max-height: 80vh;
    max-width: 98vw;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0);
    border-radius: 1px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
    scrollbar-width: thin;

    scrollbar-color: #888 #f5f5f5;

    margin-top: 30px;
    text-align: center;

}


.organizations-container1::-webkit-scrollbar {
    width: 8px;

}

.organizations-container1::-webkit-scrollbar-track {
    background: #f5f5f5;

    border-radius: 10px;
}

.organizations-container1::-webkit-scrollbar-thumb {
    background-color: #888;

    border-radius: 10px;
    border: 2px solid #f5f5f5;

}

.organizations-container1::-webkit-scrollbar-thumb:hover {
    background-color: #555;

}

.organizations-container1::-webkit-scrollbar-button {
    display: none;

}


.heading1 {
    font-size: 2.5em;
    color: #333;
    /* Keeps the original color */
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(194, 194, 194, 0.8),

        4px 4px 5px rgba(0, 0, 0, 0.7);
    background-color: rgb(255, 255, 255, 0.5);


    padding: 10px 20px;

    border-radius: 50px;

    display: inline-block;
    margin-top: 1px;

}

.search-input1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    align-items: center;
}

.card-container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card1 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card1:hover {
    transform: translateY(-5px);
}

.card-title1 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.card-text1 {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

.card-link1 a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}

.card-link1 a:hover {
    text-decoration: underline;
}

.no-results1 {
    text-align: center;
    color: #888;
    font-size: 1.2em;
    margin-top: 20px;
}

.search-input1 {
    width: 83%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 25px;
    font-size: 1.75vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #333;
    outline: none;
    transition: all 0.3s ease;
    color: rgb(214, 214, 214);
}

.search-input1:focus {
    border-color: #666666;

    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);

}

.search-input1::placeholder {
    color: #aaa;

    font-style: italic;
}

.organizations-container1::-webkit-scrollbar-button {
    display: none;

}











.map-view-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;

    padding: 5px;
    height: 100vh;

}

.back-button {
    background-color: #40648a;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 2vh;

    z-index: 1;
}

.back-button:hover {
    background-color: #5694d7;

}





.map-heading {
    font-size: 2em;
    color: #333;

    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(194, 194, 194, 0.8),

        4px 4px 5px rgba(0, 0, 0, 0.7);
    background-color: rgb(255, 255, 255, 0.5);


    padding: 10px 10px;

    border-radius: 50px;

    display: inline-block;
}


.table-cont1 {
    margin-top: 0;

    border-collapse: collapse;

    width: 90%;
    overflow-x: auto;
    overflow-y: auto;
    height: 78%;
}

.table-cont1 table {
    width: 100%;

    border: 1px solid #000000;

    border-radius: 10px;

    overflow: hidden;


}

.table-cont1 th,
.table-cont1 td {
    border: 1px solid #333;

}

.table-cont1 th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-cont1 td {
    transition: background-color 0.3s;
}



.tdspots2 {
    width: 20px;
    height: 20px;

    cursor: pointer;
}










@media (max-height: 668px) {
    .table-cont1 {
        max-height: 60%;
    }
}

@media (max-width: 1369px) {
    .table-cont1 {
        max-width: 1200px;
    }
}

@media (max-width: 1260px) {
    .table-cont1 {
        max-width: 1100px;
    }
}

@media (max-width: 1160px) {
    .table-cont1 {
        max-width: 1000px;
    }
}

@media (max-width: 1060px) {
    .table-cont1 {
        max-width: 900px;
    }
}

@media (max-width: 960px) {
    .table-cont1 {
        max-width: 800px;
    }
}

@media (max-width: 860px) {
    .table-cont1 {
        max-width: 700px;
    }
}

@media (max-width: 760px) {
    .table-cont1 {
        max-width: 600px;
    }
}

@media (max-width: 660px) {
    .table-cont1 {
        max-width: 500px;
    }
}

@media (max-width: 560px) {
    .table-cont1 {
        max-width: 400px;
    }
}

@media (max-width: 460px) {
    .table-cont1 {
        max-width: 350px;
    }
}

@media (max-width: 360px) {
    .table-cont1 {
        max-width: 200px;
    }
}

.table-cont1::-webkit-scrollbar {
    width: 2px;
    background-color: #333;
}

.table-cont1::-webkit-scrollbar:horizontal {
    height: 6px;
    /* Height for horizontal scrollbar */
}

.table-cont1::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

.table-cont1::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #333;
}

.table-cont1::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table-cont1::-webkit-scrollbar-button {
    display: none;
}

.Gmessage {
    color: #333;

    text-align: center;
    margin-bottom: 5px;
    font-size: 2em;
    padding-top: 15px;
}
.Gmessage2 {
    color: #333;
    text-shadow: 1.5px 1.5px #ffffff;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2em;
    padding-top: 15px;
}