.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.navbar-right {
  display: flex;
  gap: 1rem;
}

.navbar-right a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-right a:hover {
  color: #007bff;
}

body {
  padding-top: 60px;
}

.logo-image {
  width: 60px;
  height: auto;

}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

h1.Admin-Dashboard {
  color: #333;
  text-align: center;
  top: 0;
  font-size: 2.5em;
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
  left: 0;
  right: 0;
}